* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}

.items-wrapper {
    width: 700px;
    margin-right: 40px;
    border-right: 1px solid #d6d6d6;
}

.cart-wrapper {
    width: 300px;
}

.item-block {
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.item-block:last-child {
    border-bottom: none;
}

.item-img {
    display: block;
    margin-right: 15px;
}

.item-title {
    font-size: 32px;
}

.item-desc {
    font-size: 24px;
}

.item-price-block {
    margin-left: 15px;
}

.item-price {
    font-size: 32px;
    font-weight: bold;
    color: orangered;
}

.item-price-button {
    padding: 8px 24px;
    color: white;
    background-color: #60cfff;
    transition: background-color .3ms;
}

.disabled {
    background-color: grey;
    transition: background-color .3ms;
}

.cart-wrapper {
    /*border: 1px solid #d6d6d6;*/
    padding: 20px;
    width: 300px;
    margin-top: 50px;
    /*height: 300px;*/
}

.cart-top {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
}

.cart-icon {
    margin-right: 50px;
}

.cart-title {
    font-size: 32px;
    font-weight: bold;
}

.cart-list-items {
    padding-bottom: 20px;
    margin-bottom: 20px;
    /*border-bottom: 1px solid #d6d6d6;*/
}

.list-item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cross-icon {
    margin-right: 10px;
    height: 10px;
}

.box-img{
    margin-right: 15px;
}

.cart-total {
    border-top: 1px solid #d6d6d6;
    margin-top: 50px;
}

.sum-order {
    font-weight: bold;
    font-size: 24px;
}

.pay-order {
    font-size: 24px;
    color: white;
    background-color: #99f092;
    padding: 8px 24px;
}
.remove-all{
    color: #d6d6d6;
}
.add-all-button__wrapper{
    padding-right: 40px;
    text-align: right;
}
.add-all-button{
    font-size: 16px;
    color: #ffffff;
    background-color: #334fff;
    padding: 8px 15px;
}